extends ../layout

block content
  ul
    li: a(href="/surveys") Go Back
    li: a(href=`/surveys/${survey._id}/edit`) Edit Survey
    li: a(href=`/surveys/${survey._id}/delete`) Delete Survey
  h1= survey.title
  h2 #{survey.title} - #{survey.description}

  h4 Type: #{survey.type}
  h5 Author: #{survey.author}