extends ../layout

block content
  h1= survey.title

  form(method="POST")
    input(name="title" value=survey.title placeholder="title of survey")
    input(name="grade" value=survey.grade type="number")
    input(name="class.title" value=survey.class.title placeholder="Class Title")
    input(name="class.courseCode" value=survey.class.courseCode placeholder="CourseCode")
    input(name="class.teacher" value=survey.class.teacher placeholder="Teacher")

    button(type="submit") Save Survey